.header{
	background-color: rgb(27, 27, 27);
	width: 1920px;
	height: 100px;
	margin-bottom: 0px;
	padding-top: 0px;
}
li{list-style:none;}

*{
	padding: 0px;
	margin: 0px;
	font-family: 'Outfit', sans-serif;
}
.logo{
	display: inline-block;
	
}
.logo img{
	margin-left: 50px;
	width: 100px;
	height: 100px;
}

.text{
	margin-left: 300px;
	display: inline-block;
	font-size: 25px;
	color: white;
}

.inicioSesion{
	font-size: 25px;
	margin-left: 800px;
	color: #12add3;
	background-color: rgb(27, 27, 27);
	display: inline-block;
}

.nav > li {
	float:left;
	background-color: rgb(27, 27, 27);
}

.nav li {
	background-color: rgb(27, 27, 27);
}

.nav li a {
	background-color:#000;
	color:#fff;
	text-decoration:none;
	padding:10px 12px;
	display:block;
}

.nav li a:hover {
	background-color:#12add3;
}

.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
}

.nav li:hover > ul {
	display:block;
}

.nav li ul li {
	position:relative;
}

.nav li ul li ul {
	right:-140px;
	top:0px;
}