main {
    padding-left: 20%;
    padding-right: 20%;
}

.h2 {
    text-align: center;
    padding-top: 30px;
}

.muestraConsulta {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #1f9acf86;
    text-align: center;
}

.filtro {
    margin-top: 20px;
}

table {
    margin-top: 20px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: black;
}

th {
    font-weight: bold;
}

td {
    width: 20%;
}

td img {
    margin-left: 42.5%;
    max-width: 15%;
    max-height: 15%;
}

select {
    margin-left: -55px;
}

#doctor_select {
    margin-left: -100px;
}

.verCitaDoc {
    margin-bottom: 14.8%;
}

.solicitarCita {
    margin-bottom: 17.8%;
}