form {
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;
    width: 80%;
}

.iniSes {
    margin-top: 20px;
}

.txt-div {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 5px;
    width: 100%;
    height: 530px;
}

.info-txt {
    max-width: 350px;
    height: 530px;
    object-fit: cover;
}

.btns {
    margin: 3%;
}